<ion-view view-title="Cadastrar">
  <ion-content >
    <div class="list">

      <label class="item item-input">
        <input type="text" ng-model="livro.nome" placeholder="Nome"/>
      </label>

      <label class="item item-input">
        <input type="text" ng-model="livro.autor" placeholder="Autor"/>
      </label>

      <label class="item item-input">
        <input type="text" ng-model="livro.paginas" placeholder="Paginas"/>
      </label>

      <div class="padding">
        <button ng-click="addLivro(livro)" ng-disabled="!livro.nome || !livro.autor || !livro.paginas"
        class="button button-block button-positive">Cadastrar</button>
      </div>

    </div>
  </ion-content>
</ion-view>
